
#Added by Cong.Dai@Bsp.group.Tp for nova nt36672 ic driver

config TOUCHPANEL_NOVA_NT36672
#	default y
	bool "TP nova nt36672 IC enable or not for OPPO"
	---help---
	say Y to enable driver for Touchpanel useing nova nt36672


config TOUCHPANEL_NOVA_NT36672_NOFLASH
#	default y
	bool "TP nova nt36672 IC enable or not for OPPO"
	---help---
	say Y to enable driver for Touchpanel useing nova nt36672

#endif

