uxcore/*
!uxcore/opchain_helper.c
!uxcore/opchain_helper.h
!uxcore/opchain_define.h
memplus/*
!memplus/memplus_helper.c
!memplus/memplus_helper.h
!memplus/Makefile
smartboost/*
!smartboost/smartboost_helper.c
!smartboost/smartboost_helper.h
!smartboost/Makefile
defrag/*
!defrag/defrag_helper.c
!defrag/defrag_helper.h
!defrag/Makefile
fsc/*
houston/*
control_center/*
aigov/*
pccore/*
