
#Added by Cong.Dai@Bsp.group.Tp for focal gt9286 ic driver

config TOUCHPANEL_GOODIX_GT9286
#   default y
    bool "TP goodix gt9286 IC enable or not for OPPO"
    ---help---
    say Y to enable driver for Touchpanel useing goodix gt9286

